/** @format */

// Fonts

@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

// Color Palette

$primary: #38b6ff;
$lightPrimary: #72c2f0;
$gray: #2c2c2c;
$black: #191919;
$text: #161616;
$secondaryText: #757575;

// General Rulesets

html {
  scroll-behavior: smooth;
  body {
    font-family: "Exo 2", sans-serif;
    color: $text;
    padding-top: 57px;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    div {
      width: 100%;
    }
    .heading {
      text-align: center;
      span {
        color: $primary;
        font-weight: 700;
      }
    }
  }
}

.classic-button {
  width: 50%;
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.389);
  border-radius: 5px;
  padding: 10px 15px;
  background: $primary;
  transition: 0.2s linear;
  color: white;
  &:hover {
    background: $lightPrimary;
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &:hover::after {
    opacity: 0;
  }
}

// Menu

header {
  display: flex;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 3;
  height: 78px;
  left: 0;
  top: 0;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.359);
  img {
    height: 30px;
  }
  button {
    font-size: 12px;
    padding: 1em 2.7em;
    font-weight: 500;
    background: $primary;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
  }
  .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #0bc6ff);
  }

  .label {
    position: relative;
    top: -1px;
  }

  .transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: $lightPrimary;
    border-radius: 100%;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  button:hover .transition {
    width: 14em;
    height: 14em;
  }

  button:active {
    transform: scale(0.97);
  }
  ul {
    display: flex;
    list-style: none;
    align-self: center;
    justify-self: center;
    padding-inline-start: 0;
    gap: 20px;
    .active {
      color: $primary;
    }
    li {
      position: relative;
      padding-bottom: 5px;
      &:hover a {
        color: $primary;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $primary;
        transform: scaleX(0);
        transition: transform 0.4s ease-in-out;
      }
    }

    li:hover::after {
      transform: scaleX(0.8);
      color: $primary;
    }
    a {
      color: $secondaryText;
      text-decoration: none;
      transition: transform 0.4s ease-in-out;
    }
  }
}

// Introduction

#Intro {
  height: 35em;
  background-image: url(Img/idk.jpg);
  background-size: cover;
  background-origin: content-box;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  z-index: 1;
  padding: initial;
  .backdrop-container {
    padding: 50px;
    max-height: 100%;
    width: 100%;
    background: #0000008c;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  section {
    width: 25em;
    color: white;
    text-align: justify;
    padding: 5px;
    span {
      color: $primary;
      font-weight: 700;
    }
    hr {
      background: $primary;
      height: 5px;
      border: none;
      outline: none;
      width: 100px;
      float: left;
    }
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 15px;
    }
  }
  .second-section {
    display: flex;
    flex-direction: row;
    padding: 20px;
    max-height: 15em;
    border-radius: 15px;
    transform: scale(1);
    animation: pulse 2s infinite;
    @keyframes pulse {
      0% {
        transform: scale(0.95);
      }

      50% {
        transform: scale(1);
      }

      100% {
        transform: scale(0.95);
      }
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      h4,
      hr {
        margin: 0;
        font-weight: 600;
      }
      hr {
        height: 2px;
      }
      svg {
        margin-bottom: 20px;
      }
    }
  }
}

.ico {
  margin: 0 auto;
  text-align: center;
  width: 100px;
  height: 100px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  filter: url("#goo");
  .circle {
    background: $primary;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: 0%;
  }

  .st-arrow {
    fill: white;
    animation: scrolly 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
    perspective: 9000px;
    transform: translateZ(0);
    transform-origin: bottom;
  }
}

.svg {
  z-index: 9;
  position: relative;
}

@keyframes scrolly {
  0% {
    transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
  }
  30% {
    transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  70% {
    transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  95% {
    transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
  100% {
    transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
}

#Welcome {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .welcome-text {
    width: 25em;
    padding-left: 10px;
    text-align: justify;
    border-left: 2px solid $primary;
    span {
      color: $primary;
      font-weight: 700;
    }
    h6 {
      color: $secondaryText;
    }
    h1 {
      font-size: 30px;
      span {
        color: $primary;
        font-weight: 800;
      }
    }
    button {
      width: 100%;
      font-weight: 700;
    }
  }
  img {
    height: 25em;
  }
}

//

.grid-parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 5em;
  width: 90%;
  div {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    transition: 0.3s ease;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }
    section {
      display: flex;
      flex-direction: row;
      align-self: center;
      img {
        justify-self: center;
        align-self: center;
        height: 15em;
        border-bottom: 3px solid $primary;
        z-index: 1;
      }
    }
    img {
      justify-self: center;
      align-self: center;
      height: 15em;
      border-bottom: 3px solid $primary;
    }
    h3 {
      align-self: left;
      margin-left: 40px;
      border-left: 3px solid $primary;
      padding-left: 20px;
    }
    div {
      border: none;
      display: flex;
      flex-direction: row;
      box-shadow: none;
      &:hover {
        box-shadow: none;
      }
      img {
        height: 13em;
        padding-bottom: 30px;
      }
    }
  }
}

.div1 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
}

.div2 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 1;
}

.div3 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 4;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 4;
}

// Quienes somos

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 5em;
}
.description {
  font-size: 1.2em;
  margin: 20px 0;
  line-height: 1.5;
  span {
    color: $primary;
    font-weight: 800;
  }
  i {
    color: #808080;
  }
}
.cards {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}
.card {
  background-color: #f9f9f9;
  padding: 20px;
  width: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: block;
  svg {
    float: right;
    margin: -5px;
  }
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  p {
    font-size: 1em;
    line-height: 1.5;
  }
}

//

#Partners {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 250px;
  img {
    height: 60px;
  }
  section {
    display: flex;
    justify-content: space-evenly;
    filter: grayscale(1);
    width: 90%;
  }
  hr {
    background: $primary;
    height: 4px;
    width: 90%;
    border: none;
  }
}

// 

.content {
  display: flex;
  margin-top: 2em;
  justify-content: space-around;
  align-items: center;
}
.text {
  width: 45%;
  text-align: left;
  h2 {
    font-size: 1.5em;
    margin: 0;
    span {
      color: #00aaff;
      font-weight: bold;
    }
  }
}
.content .text .content .text p {
  font-size: 1em;
  margin: 10px 0 0 0;
}
.content .image {
  width: 45%;
}
.content .image img {
  width: 100%;
}